/**
   |============================
   | Base styles
   |============================
 */
.body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  background: #fff;
}
.link {
  text-decoration: none;
  color: #2e2f42;
}
.list {
  list-style-type: none;
}

.link:hover {
  color: #404bbf;
}
/**
  |============================
  | Header styles
  |============================
*/
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web {
  color: var(--iris, #4d5ae5);
}
.studio {
  color: var(--navyblue, #2e2f42);
}
/**
   |============================
   | Hero styles
   |============================
 */
.hero-section {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
.hero-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
  background: var(--ocean, #404bbf);
}
.button-text {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
/**
   |============================
   | Advantages styles
   |============================
 */
.advantages-section {
}
.advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.advantages-item {
}
.advantages-item-title {
}
.advantages-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/**
  |============================
  | Make styles
  |============================
*/
.make-section {
}
.make-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.make-item {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

/**
  |============================
  | Team styles
  |============================
*/
.team-section {
  background: var(--cloud, #f4f4fd);
}
.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-item {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.team-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer-section {
  background: var(--navyblue, #2e2f42);
  font-style: normal;
}
.logo-footer {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web-footer {
  color: var(--iris, #4d5ae5);
}
.studio-footer {
  color: var(--cloud, #f4f4fd);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/**
  |============================
  | Portfolio styles
  |============================
*/
.portfolio-section {
}
.button-container {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}
.button-filter {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.button-filter-text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.button-filter-text:hover {
  color: var(--iris, #4d5ae5);
}

.button-filter:hover {
  background: var(--cloud, #f4f4fd);
}
.portfolio-item {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.portfolio-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
