/**
   |============================
   | Base styles
   |============================
 */
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --white: #fff;
  --cloud: #f4f4fd;
  --slate: #434455;
}
body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: var(--slate);
}
.link {
  text-decoration: none;
  color: #2e2f42;
}
.list {
  list-style-type: none;
}

.link:hover {
  color: #404bbf;
}
/**
  |============================
  | Header styles
  |============================
*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.studio {
  color: var(--navyblue);
}
.list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.list-item:hover {
  color: var(--ocean);
}
.address {
  font-style: normal;
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.address-list-item:hover .address-list-item:focus {
  color: var(--ocean);
}
/**
   |============================
   | Hero styles
   |============================
 */
.hero-section {
  background: var(--navyblue);
}
.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
.hero-button {
  background: var(--iris);
}
.hero-button:hover {
  background: var(--ocean);
}
.button-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
/**
   |============================
   | Advantages styles
   |============================
 */
.advantages-section {
}
.advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.advantages-item {
}
.advantages-item-title {
}
.advantages-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/**
  |============================
  | Make styles
  |============================
*/
.make-section {
}
.make-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.make-item {
}

/**
  |============================
  | Team styles
  |============================
*/
.team-section {
  background: var(--cloud);
}
.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
}
.team-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.team-text {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer-section {
  background: var(--navyblue);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.studio-footer {
  color: var(--slate);
}
.footer-text {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/**
  |============================
  | Portfolio styles
  |============================
*/
.portfolio-section {
}
.button-container {
}
.button-filter {
}
.button-filter-text {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.button-filter-text:hover {
  color: var(--iris);
}

.button-filter:hover {
  background: var(--cloud);
}
.portfolio-item {
}
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.portfolio-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
